body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: none;
}

.navbar {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    width: 40px;
    margin-right: 15px;
}

.connect-wallet,
.max-button,
.buy-button,
.collect-eth-button,
.copy-button {
    background-color: #feff05;
    /* Earlier color */
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    /* Add margin to push the presale card down */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.presale-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-header h2 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.balance {
    color: #666;
}

.token-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.token-icon {
    width: 40px;
    margin-right: 15px;
}

.token-details {
    text-align: left;
    color: #666;
}

.purchase-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.purchase-input {
    flex: 1;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
}

.amount-to-receive {
    margin-top: 2px;
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
    text-align: left;
}

.buy-button {
    width: 100%;
    padding: 15px;
    background-color: #feff05;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.referral-section {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.referral-input {
    flex-grow: 1;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    border: 1px solid #e0e0e0;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    margin-top: 10px;
}

.copy-button {
    background-color: #feff05;
    color: #000;
    border: none;
    font-family: 'Arial', sans-serif;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-top: 10px;
}

.earnings-section {
    background-color: #fff;
    color: #666;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin-top: 20px;
    align-items: center;
}

.earnings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.earnings-title {
    font-size: 18px;
    margin: 0;
}

.info-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    background: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    padding: 0;
    position: relative;
}

.info-tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.info-button:hover .info-tooltip {
    visibility: visible;
    opacity: 1;
}

.earnings-info {
    margin-bottom: 15px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
}

.collect-eth-row {
    display: flex;
    justify-content: flex-end;
}

.collect-eth-button {
    padding: 10px 20px;
    background-color: #feff05;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.notification {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s, transform 0.3s;
}

.notification.show {
    opacity: 1;
    transform: translateX(0);
}

.notification.success {
    background-color: #4caf50;
}

.notification.error {
    background-color: #f44336;
}

.notification.info {
    background-color: #000;
}

.telegram-icon {
    font-size: 36px;
    color: #000;
    transition: all 0.3s ease;
    display: inline-block;
    margin-top: 10px;
    animation: pulse 2s infinite;
}

.telegram-icon:hover {
    color: #feff05;
    transform: scale(1.1) rotate(5deg);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Preloader styles */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader-content {
    text-align: center;
}

.preloader-logo {
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.preloader-text {
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

/* Hide content initially */
.content {
    display: none;
}

/* Hamburger menu icon */
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 10px 0;
        align-items: flex-start;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links a {
        padding: 10px 15px;
    }

    .connect-wallet {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .earnings-section,
    .presale-card {
        width: 90%;
        max-width: 400px;
    }

    .info-tooltip {
        width: 80%;
        left: 10%;
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {

    .card-header,
    .earnings-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .balance,
    .info-button {
        margin-top: 10px;
    }

    .token-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .token-icon {
        margin-bottom: 10px;
    }
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}